<article>
  <div class="wrapper">
    <div>
      <h2>{{ cta.title }}</h2>
      <p>{{ cta.summary }}</p>
      <div>
        <a href="{{ ctaPrefix.buttonUrl }}">{{ cta.buttonText }}</a>
      </div>
    </div>
  </div>
</article>
