<header role="banner">
  <div class="wrapper">
    <div>
      <a href="/" aria-label="{{ site.name }} - Home">
        {% include "brand.svg" %}
      </a>
      <nav aria-label="Primary">
        <ul>
          {% for item in navigation.items %}
          <li>
            <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
